.cakes-special {
	display: block;
	padding-top: 50px;
	
	h3 {
		font-family: "Playfair Display";
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		margin: 0 auto;
		width: auto;
		padding-bottom: 10px;
	}

	span {
		font-family: "Intro ScriptR H2 Base";
		font-size: 20px;
		font-style: italic;
		text-align: center;
		margin: 0 auto;
		width: auto;
		display: block;
	}
}

@media @tablet-widths {

	.cakes-special {
		padding-top: 60px;
	
		h3 {
			font-size: 28px;
			padding-bottom: 18px;
		}

		span {
			font-size: 26px;
			padding-bottom: 35px;
		}
	}
}

@media @desktop-widths {

	.cakes-special {
		padding-top: 100px;
	
		h3 {
			font-size: 40px;
			padding-bottom: 30px;
		}

		span {
			font-size: 35px;
			padding-bottom: 50px;
		}
	}
}