.cakes-for-clients {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	max-width: 400px;
	margin: 0 auto;
	max-height: 650px;

	h3 {
		display: block;
		line-height: 33px;
		margin: 0 auto;
  		padding-top: 10px;
  		text-align: left;
  		padding-bottom: 10px;
	}
		
	span {
		display: block;
		margin: 0 auto;
		padding-bottom: 0;
		text-align: left;
	}

	p {
		display: block;
		line-height: 18px;
		margin: 0 auto;
		padding-bottom: 60px;
		text-align: left;
	}

	.cakes-for-clients__image {
		display: flex;
		margin: 0 auto;
		z-index: 2;
		min-width: 320px;
		position: relative;
		height: 350px;
	}
}

@media @tablet-widths {

	.cakes-for-clients {
		flex-wrap: nowrap;
		max-width: 1200px;
		max-height: 810px;
		margin-top: 70px;

		.cakes-for-clients__text {
			width: 50%;
			margin: auto 0;
			margin-left: 48px;

			p {
				padding-bottom: 60px;
			}
		}

		.cakes-for-clients__image {
			justify-content: space-around;
			width: 50%;

			img {
				width: 324px;
				height: 317px;
			}
		}
	}
}

@media @desktop-widths {

	.cakes-for-clients {
		flex-wrap: nowrap;
		max-width: 4000px;
		max-height: 810px;
		margin-top: 70px;

		.cakes-for-clients__text {
			margin-left: 74px;

			h3 {
				padding-bottom: 20px;
				margin-top: 220px;
			}
				
			span {
				padding-bottom: 0px;
			}

			p {
				padding-bottom: 60px;
				font-size: 20px;
				line-height: 24px;
			}
		}

		.cakes-for-clients__image {

			img {
				width: 590px;
				height: 577px;
			}
		}
	}
}